<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.summary.sundy">

    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".SundyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup,android:supportsRtl">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="a267f0779077f269027695f54a3e153c" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.caogen.com"
                    android:pathPattern="/login"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.EditTextStyleActivity" />
        <activity android:name=".ui.activity.XEditTextActivity" />
        <activity
            android:name=".ui.activity.CoordinatorActivity"
            android:label="@string/title_activity_coordinator"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.activity.TitleBarActivity" />
        <activity android:name=".ui.activity.PopupWindowActivity" />
        <activity android:name=".ui.activity.WeiboPopupWindowActivity" />
        <activity android:name=".ui.activity.CustomViewActivity" />
        <activity android:name=".ui.activity.UITabViewActivity" />
        <activity android:name=".ui.activity.ToastActivity" />
        <activity
            android:name=".ui.activity.WebActivity"
            android:label="@string/title_activity_web"
            android:theme="@style/AppTheme" />
        <activity android:name=".ui.activity.NavigationActivity" />
        <activity android:name=".ui.activity.NavigationStyleActivity" />
        <activity android:name=".ui.activity.CalendarActivity" />
        <activity android:name=".ui.activity.ProgressActivity" />
        <activity android:name=".ui.activity.ShopWidgetActivity" />
        <activity android:name=".ui.activity.NavigationStyle2Activity" />
        <activity android:name=".ui.activity.SegmentedActivity" />
        <activity android:name="com.sundy.map.SmoothActivity" />
        <activity android:name=".ui.activity.OperatorsActivity" />
        <activity android:name=".ui.activity.InputLayoutActivity" />
        <activity android:name=".ui.activity.SmoothInputActivity" />
        <activity android:name=".ui.activity.RxBusActivity" />
        <activity android:name=".ui.activity.RxBusTestActivity" />
        <activity android:name=".ui.activity.AnchorSheetActivity"></activity>
    </application>

</manifest>